@model IEnumerable<AppCityParkServices.Models.TarjetaPrepago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TarjetaPrepagoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TarjetaPrepagoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TarjetaPrepagoId })
        </td>
    </tr>
}

</table>
