@model IEnumerable<AppCityParkServices.Models.Parqueo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarjetaCredito.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarjetaCredito.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParqueoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParqueoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParqueoId })
        </td>
    </tr>
}

</table>
